<head>
    <link href="{{ url_for('static', filename='build.css')}}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


{% block header %}
    <div class="w-max">
        <div class="text-xl font-bold p-3 bg-slate-500">
            Home Inventory Manager
        </div>
        <div class="p-3 flex text-lg font-bold">
            <div class="pr-3 underline">
                Login
            </div>
            <div class="pr-3">
                |
            </div>
            <div class="pr-3">
                <a href="{{ url_for('auth.register')}}" class="hover:underline cursor-pointer">
                    Register
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="w-max">
        <form method="post">
            <label for="username" class="p-3">Username</label> <br />
            <div class="px-3">
                <input name="username" id="username" required class="border-solid border-2 border-blue-400 rounded flex-auto w-56"> <br />
            </div>
            <label for="password" class="p-3">Password</label> <br />
            <div class="px-3">
                <input type="password" name="password" id="password" required class="border-solid border-2 border-blue-400 rounded flex-auto w-56"> <br />
            </div>
            <div class="p-3">
                <input type="submit" value="Log In" class="bg-blue-400 rounded-lg p-1 hover:scale-105 cursor-pointer flex-auto w-44">
            </div>
        </form>
        {% for message in get_flashed_messages() %}
            <div>
                {{message}}
            </div>
        {% endfor %}
    </div>
{% endblock %}
