<head>
    <link href="{{ url_for('static', filename='build.css')}}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


{% block header %}
    <div>
        <div class="p-3">
            <a href="{{ url_for('auth.logout') }}" class="hover:underline cursor-pointer">Log Out</a>
        </div>
        <div class="text-xl font-bold p-3">
            Home Inventory Manager
        </div>
    </div>
    <div class="p-3 flex text-lg font-bold">
        <div class="pr-3">
            <a href="{{ url_for('view_inventory.inventory')}}" class="hover:underline cursor-pointer">
                Inventory
            </a>
        </div>
        <div class="pr-3">
            |
        </div>
        <div class="pr-3 underline">
            Shopping List
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="flex p-3">
        <form action="{{ url_for('shopping_list.add_entry')}}" method="post">
            <input name="item" id="item" required class="border-solid border-2 border-blue-400 rounded flex-auto w-56">
            <input name="amount" id="amount" type="number" value="1" required class="border-solid border-2 border-blue-400 rounded w-14 flex-none">
            <input type="submit" value="Add to shopping list" class="bg-blue-400 rounded-lg p-1 hover:scale-105 cursor-pointer flex-auto w-44">
        </form>
    </div>

    {% if not inventory %}
        <div class="p-3">
            <div>Your shopping list is empty.</div>
            <div>Add something.</div>
        </div>    
    {% endif %}

    {% if inventory %}
        <div class="px-3 text-lg font-semibold flex">
            <div class="flex-none w-56">
                Item
            </div>
            <div class="flex-none w-14">
                #
            </div>
            <div class="flex-none w-7"></div>
            <div class="flex-none w-7"></div>
            <div class="flex-none w-28"></div>
            <div class="flex-none w-26"></div>
        </div>
    {% endif %}
    <div>
        {% for item in inventory %}
            <div class="flex px-3">
                <div class="flex-none w-56">
                    {{ item['item'] }}
                </div>
                <div class="flex-none w-14">
                    {{ item['Amount'] }}
                </div>
                <div class="flex-none w-7">
                    <form action="{{ url_for('shopping_list.increase_amount', id=item['id'])}}" method="post">
                        <input type="submit" value="+" class="font-bold px-1 bg-blue-400 rounded-lg hover:scale-105 cursor-pointer">
                    </form>
                </div>
                <div class="flex-none w-7">
                    <form action="{{ url_for('shopping_list.decrease_amount', id=item['id'])}}" method="post">
                        <input type="submit" value="-" class="font-bold px-1 bg-blue-400 rounded-lg hover:scale-105 cursor-pointer">
                    </form>
                </div>
                <div class="flex-none w-28">
                    <form action="{{ url_for('shopping_list.add_to_inventory', id=item['id'])}}" method="post">
                        <input type="submit" value="To Inventory" class="bg-blue-400 rounded-lg px-1 hover:scale-105 cursor-pointer">
                    </form>
                </div>
                <div class="flex-none w-26">
                    <form action="{{ url_for('shopping_list.delete_item', id=item['id'])}}" method="post">
                        <input type="submit" value="Remove" class="bg-blue-400 rounded-lg px-1 hover:scale-105 cursor-pointer">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}